.container {
  width: 70% !important;
  margin: auto auto 10px auto !important;
  text-align: center !important;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #4ECCA3;
  width: 118%;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 11%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

button {
  color: black; 
  font-weight: bold !important; 
  background-color: #4ECCA3 !important; 
  position: relative; 
  top: 160px; 
  right: 324px; 
  font-family: 'Indie Flower', cursive !important; 
  font-size: 20px !important;
}